.services {
    margin-top: 80px;
    margin-bottom: 80px;

    .servicesContent {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .servicesBox {
            display: flex;
            flex-direction: column;
            gap: 30px;
            .box {
                h1 {
                    color: #426359;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                p {
                    color: #3e342d;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30px;
                    text-transform: capitalize;
                }
            }
        }
        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .services {
        .servicesContent {
            grid-template-columns: auto;
            gap: 0px;
            .servicesBox {
                margin-top: 20px;
            }
            .avatar {
                display: none;
            }
        }
    }
}
