.pricing {
    margin-top: 160px;
    margin-bottom: 80px;
}

.ourPrices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 100px;
    margin-top: 80px;
}

@media only screen and (max-width: 1100px) {
    .ourPrices {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
}

@media only screen and (max-width: 700px) {
    .ourPrices {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
}
