.pricingbox {
    min-height: 407px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #474037;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {
        h1 {
            color: #332e2c;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 75px; /* 500% */
            text-transform: capitalize;
            text-align: center;
        }
        h2 {
            color: #000;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
        }
        ul {
            padding: 30px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
            }
        }
    }

    .bookBtn {
        border-radius: 20px;
        background: #252525;
        width: calc(100% - 60px);
        display: block;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin: 30px;
    }
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        color: #fff;
        background-color: #252525;
        .info {
            h1,
            h2 {
                color: #fff;
            }
        }
        .bookBtn {
            background-color: #fff;
            color: #252525;
        }
    }
}
