.faq {
    .box {
        position: absolute;
        width: 650px;
        height: 647px;
        flex-shrink: 0;
        border-radius: 650px;
        background: #bbcece;
        filter: blur(150px);
        z-index: -1;
        margin-left: -300px;
        margin-top: 200px;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .imgsec {
        z-index: 1;
        position: relative;
        img {
            width: auto;
            max-height: 500px;
        }
    }
    .faqsection {
        h1,
        h2 {
            text-align: left;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .imgsec {
        display: none;
    }
    .faq {
        grid-template-columns: auto;
        .faqsection {
            h1,
            h2 {
                text-align: center;
            }
        }
    }
}
