.box {
    height: auto;
    min-height: 202px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #f5f5f5;
    padding: 20px;
    position: relative;
    .info {
        display: flex;
        gap: 20px;

        img {
            width: 55px;
            height: 55px;
            flex-shrink: 0;
            border-radius: 55px;
            border: 2px solid #9a9a9a;
            object-fit: cover;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .userInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 3px;
            p {
                color: #626262;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
    }
    .desc {
        margin: 20px 0px;
        color: #3e3e3e;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    .link {
        position: absolute;
        bottom: 10px;
        right: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 20px;
        font-size: 20px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}
