.watchbox {
    border-radius: 20px;
    background: #f6f6f6;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    position: relative;
    .playbtn {
        position: absolute;
        left: 50%;
        top: 34%;
        font-size: 40px;
        transform: translate(-50%, -50%);
    }
    img {
        width: 100%;
        max-height: 180px;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    h1 {
        color: #000;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-transform: capitalize;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    p {
        color: #363636;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-transform: capitalize;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.showPlayer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.425);
    filter: blur(300);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeVDO {
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
