.faqbox {
    border-radius: 15px;
    background: #93adc6;
    padding: 20px;
    margin-bottom: 20px;
    .info {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .content {
        margin-top: 20px;
        // display: none;
        p {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            color: #3e221c;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 166.667% */
            text-transform: capitalize;
        }
    }
}
