.fotter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
    .section1 {
        img {
            width: 80px;
            height: auto;
        }
        p {
            color: #333;
            margin: 20px 0px;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 166.667% */
            text-transform: capitalize;
        }
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    list-style: none;
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
    .section2,
    .section3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li.title {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                text-transform: capitalize;
            }
            li {
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;

                    list-style: none;
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
}

.fottertitle {
    text-align: center;
    margin: 60px auto;
}

@media only screen and (max-width: 1000px) {
    .fotter {
        grid-template-columns: auto;
        .section2,
        .section3 {
            justify-content: flex-start;
        }
    }
}
