.testimonials {
    padding-top: 160px;
    padding-bottom: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    .testimonialBox {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .testimonials {
        .testimonialBox {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 50px;
        }
    }
}
